StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: rgba(255, 255, 255, 0.6);
}
.signup {
  background-color: rgba(143, 243, 215, 0.6)
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: blueviolet;
  color: white;
  margin-top: 20;
}